.comments {
	border-top: 1px solid $gray-lighter;
	margin-top: 30px;
	padding-top: 30px;
	@include breakpoint(sm) {
		margin-top: 50px;
		padding-top: 50px;
	}
	> h2 {
		@extend .h3;
	}
}

.comment-list {
  @include list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  /* @extend .form-group; */
}
.comment-form {
	p {
		margin-bottom: 30px;
	}
	label {
		text-transform: uppercase;
	    letter-spacing: .1em;
	    font-weight: 300;
	    font-size: .9em;
	}
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}


.comment-reply-link {
	@extend .btn;
	border: 2px solid $gray-lighter;
}