@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

body {
	background: $white;
	font-family: 'Lato', sans-serif;
	color: $black;
	font-size: 16px;
	line-height: 1.4;
	
}
.wrap {
	background: $white;
	max-width: 1400px;
	margin: 40px auto 0 auto;
	z-index: 1;
	position: relative;

	@include breakpoint(sm) {
		margin: 130px auto 0 auto;
	}
	@include breakpoint(md) {
		margin: 180px auto 0 auto;
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	font-weight: 300;
}

h1, h2, .h1, .h2 {
	color: $blue;
	@include breakpoint(sm) {
		font-size: 2.2em;
		line-height: 1.1;
	}
	@include breakpoint(md) {
		font-size: 2.5em;
	}
	@include breakpoint(lg) {
		font-size: 3em;
	}
	.page-template-template-explore & {
		color: $green;
	}
	.page-template-template-leasing & {
		color: $blue-light;
	}
	.page-template-template-whats-on &, .category-news &, .category-events & {
		color: $pink;
	}
}
h2, .h2 {
	margin-bottom: 0.75em;
}

a {
	color: $brand-primary;
	&:hover, &:focus {
		color: darken($brand-primary, 10%);
	}
	.page-template-template-explore & {
		color: $green;
		&:hover, &:focus {
		color: darken($green, 10%);
	}
	}
	.page-template-template-leasing & {
		color: $blue-light;
		&:hover, &:focus {
		color: darken($blue-light, 10%);
	}
	}
	.page-template-template-whats-on &, .category-news &, .category-events & {
		color: $pink;
		&:hover, &:focus {
		color: darken($pink, 10%);
	}
	}
}

.title-container,  {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 8em 0;
	
}
.headline-container {
	h1, h2 {
		margin-top: 0;
	}
}

.page-header {
	margin:0;
	padding:0;
	border: none;
}

.more-link {
	padding: 5px 10px;
	border: 1px solid transparent;
	border-bottom: 1px solid;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: all .3s ease;
	&:hover {
		border: 1px solid;
	}
}


