// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #10AD72;

// Hella slack naming convention
// Hastily picked using sip, might want to check the .ai file. 
$green: #10AD72;
$pink: #C8126A;
$blue: #0640A1;
$orange: #F58829;
$mid-grey: #63666A;
$dark-grey: #4C5055;
$blue-grey: #333F48;
