// Glyphicons font path
$icon-font-path:        "../fonts/";

$slick-loader-path: "../../assets/images/" !default;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-gutter-width:         60px !default;

// Colors
$brand-primary:         #10AD72;
$brand-danger: #eb3200;

// Hella slack naming convention
// Hastily picked using sip, might want to check the .ai file. 
$green: #10AD72;
$pink: #C8126A;
$blue: #0640A1;
$orange: #F58829;
$mid-grey: #63666a;
$dark-grey: #4C5055;
$blue-grey: #333F48;

$blue-light: #27bfed;

$black: #404041;
$white: #ffffff;