$slick-font-path: "../../../fonts/" !default;
$slick-dot-character: "\f111" !default;

.content-slider {
	.slide-image{
		min-height: 400px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.slick-dots {
	bottom: 0;
		li, li.slick-active {
			button {
				&:before {
				color: $white;
				font-size: 10px;
				content: $slick-dot-character;
                
                //font-family: $slick-font-family;
                font-family: FontAwesome;
			}
		}
	}
}






// .slick-dots {

//     li {

//         button {
            
//             &:before {

//                 content: $slick-dot-character;
                
//                 font-family: $slick-font-family;
                
//             }
//         }
        
//     }
// }