.four-block-grid {
	.top-row {
		background-color: $green;
		.grid-link {
			background-color: $green;
			&:hover, &:focus {
				background: darken($green, 10%);
			}
		}
		
	}

	.bottom-row {
		background-color: $pink;

		.grid-link {
			background-color: $pink;
			&:hover, &:focus {
				background: darken($pink, 10%);
			}
		}
		
	}

	.grid-content {
		padding:0;
	}
	.grid-content-wrapper {
		display: table;
		width: 100%;
		height: 100%;
	}
	.grid-link {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		padding: 0.5em 10%;
		color: $white;
		transition: .1s ease all;
		&:hover, &:focus {
			text-decoration: none;
		}
		h2 {
			margin: 0 0 0.75em 0;
			color: $white;
		}
	}

	.grid-image {
		padding: 0;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-content: center;
		transition: all .1s ease;
		img {
			flex: 1;
			 align-self: center;
			object-fit: cover;
			transition: all .1s ease;
		}
	}
}

@media (min-width: $screen-sm-min) {

	.four-block-grid {
		
		.grid-left img,
		.grid-left .grid-content-wrapper {
			// max-width: 585px;
			// float: right;
		}

		.grid-right img,
		.grid-right .grid-content-wrapper {
			// max-width: 585px;
			// float: left;
		}

	}
}
