.four-block-grid {
	.top-row {
		background-color: $green;
	}

	.bottom-row {
		background-color: $pink;
	}

	.grid-image {
		padding: 0;
	}
}

@media (min-width: $screen-sm-min) {

	.four-block-grid {
		
		.grid-left img,
		.grid-left .grid-content-wrapper {
			max-width: 585px;
			float: right;
		}

		.grid-right img,
		.grid-right .grid-content-wrapper {
			max-width: 585px;
			float: left;
		}

	}
}
