// Admin Bar Allowances 

body.admin-bar {
	margin-top: 32px;

	.banner {
		top: 32px;
	}

	@media screen and (max-width: 782px) {

		margin-top: 48px;

		.banner {
		top: 48px;
		}

	}
}

.navbar-toggle {
	float: left;
	margin-left: 15px;
	margin-right: 0;
}

.banner {
	position: fixed;
	left:0;
	right: 0;
	top:0;
	width: 100%;
	background: $white;
	z-index: 10;
	transition: .1s all ease;
	&.affix-top {
		padding: 10px 0 0;
		@include breakpoint(sm) {
			padding: 30px 0 0;
		}
		
		@include breakpoint(md) {
			padding: 40px 0 0;
		}
	}
	&.affix {
		padding: 10px 0 0;
		border-bottom: 1px solid $gray-lighter;
	}
}
.navbar {
	margin: 0;
	border: none;
}
.navbar-default {
	background: $white;
	text-align: center;
	border-radius: 0;
	border: none;
}
.navbar-header {
	float:none;
}

.navbar-brand {
	float: none;
	display: inline-block;
	padding:0;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../assets/images/pg_logo.svg);
	transition: .1s all ease;
	.affix-top & {
			width: 260px;
			height: 33px;
		}
		
		.affix & {
			width: 260px;
			height: 33px;
		}

	@include breakpoint(sm) {
		.affix-top & {
			width: 400px;
			height: 50px;
			margin-bottom: 20px;
		}
		
		.affix & {
			width: 336px;
			height: 42px;
			margin-bottom: 11px;
		}
	}
	@include breakpoint(md) {
		.affix-top & {
			width: 500px;
			height: 63px;
			margin-bottom: 30px;
		}
		
		.affix & {
			width: 336px;
			height: 42px;
			margin-bottom: 11px;
		}
	}
	
}

.navbar-nav {
	float: none;
	text-align: center;
	font-weight: 300;
	@include breakpoint(sm) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	>li {
		
		text-transform: uppercase;
		letter-spacing: 0.1em;
		@include breakpoint(sm) {
			float: none;
			display: inline-block;
		}

	}
}


