// Admin Bar Allowances 

body.admin-bar {
	margin-top: 32px;

	.banner {
		top: 32px;
	}

	@media screen and (max-width: 782px) {

		margin-top: 48px;

		.banner {
		top: 48px;
		}

	}
}



.banner {
	position: fixed;
	left:0;
	right: 0;
	top:0;
	width: 100%;
	background: $white;
	z-index: 10;
	transition: .1s all ease;
	
		padding: 0;
		@include breakpoint(sm) {
			padding: 30px 0 0;
		}
		
		@include breakpoint(md) {
			padding: 40px 0 0;
		}
	
	&.affix {
		padding: 0;
		border-bottom: 1px solid $gray-lighter;
		@include breakpoint(sm) {
			padding: 10px 0 0;
		}
	}
}
.navbar {
	margin: 0;
	border: none;
}

.navbar-header {
	float:none;
	@include breakpoint(xs) {
		text-align: right;
		padding: 10px 15px;
	}
	
}

.navbar-brand {
	float: none;
	display: inline-block;
	padding:0;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../assets/images/pg_logo.svg);
	transition: .1s all ease;
	.no-svg & {
		background-image: url(../../assets/images/pg_logo.png);
	}
	.affix-top & {
			width: 240px;
			height: 30px;
		}
		
		.affix & {
			width: 240px;
			height: 30px;
		}

	@include breakpoint(sm) {
		.affix-top & {
			width: 400px;
			height: 50px;
			margin-bottom: 20px;
		}
		
		.affix & {
			width: 336px;
			height: 42px;
			margin-bottom: 11px;
		}
	}
	@include breakpoint(md) {
		.affix-top & {
			width: 500px;
			height: 63px;
			margin-bottom: 30px;
		}
		
		.affix & {
			width: 336px;
			height: 42px;
			margin-bottom: 11px;
		}
	}
	
}

.navbar-default {
	background: $white;
	text-align: center;
	border-radius: 0;
	border: none;
	.navbar-toggle {
		position: absolute;
		left:0;
		top: 0px;
		margin:0;
		border-radius: 0;
		border: none;
		padding: 10px 5px;
		height: 55px;
		width: 50px;
		text-align: center;
		.icon-bar {
			width: 30px;
			border-radius: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.icon-bar+.icon-bar {
			margin-top: 6px;
		}
	}
	.navbar-collapse {
		background: $black;
		padding:0;
		@include breakpoint(sm) {
			background: $white;
		}
	}
	.navbar-nav {
		float: none;
		text-align: left;
		font-weight: 300;
		margin: 0;
		@include breakpoint(sm) {
			text-align: center;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		ul {
			position: static;
			display: none;
			top: 100%;
			left: 0;
			z-index: 99;
			transition: all .1s ease;
			@include breakpoint(sm) {
				position: absolute;

			}

			ul {
				top: 0;
				left: 100%;
			}
		}
		li {
			position: relative;
			transition: all .1s ease;
			@include breakpoint(xs) {
				clear:both;
			}
			&:hover {
				@include breakpoint(sm) {
					background: $green;
					color: $white;
					a {
						background: $green;
						color: $white !important;
						&:hover {
							background: darken($green, 5%);
						}
					}
				}
				
				
				>ul {
					display: block;
					width: 100%;
					transition: all .1s ease;
					@include breakpoint(sm) {

				width: 200px;
						left: 50%;
						margin-left: -100px;
						text-align: center;
			}


				}
			}

		}
		
		a {
			display: block;
			position: relative;
			padding: 15px 25px;
			font-weight: 300;
			transition: all .1s ease;
			
			&:hover {
				color: $white;
					@include breakpoint(sm) {
						background: darken($green, 5%);
						color: $white ;
					}
				}
		}
		>li {
			
			text-transform: uppercase;
			letter-spacing: 0.1em;
			border-bottom: 1px solid darken($mid-grey, 5%);
			@include breakpoint(sm) {
				border-bottom: none;
				float: none;
				display: inline-block;

			}
			>a {
				color: $white;
				@include breakpoint(sm) {
					color: $black;
				}
				&:hover {
					color: $white;

					@include breakpoint(sm) {
						background: darken($green, 5%);
						color: $white !important;
					}
				}
				&:focus {
					@include breakpoint(xs) {
						background: darken($black, 5%);
						color: $white;
					}
					
				}
			}
			&.active {
				> a, > a:focus {
					background: none;
					.page-template-template-explore & {
						color: $green;
					}
					.page-template-template-leasing & {
						color: $blue-light;
					}
					.blog &, .category & {
						color: $pink;
					}
				}

			}
			&.current_page_parent {
					>a, >a:focus {
						.category &, .single-post & {
							color: $pink;
						}
					}
				}

		}
	}
}










.dropdown-menu {
	border: none;
	border-radius: 0;
	padding:0;
	margin:0;
	box-shadow: none;
	>li {
		@include breakpoint(xs) {
			border-bottom: 1px solid $gray-light;
		}
		>a, >a:hover {
			@include breakpoint(xs) {
				background: $mid-grey;
				color: $white;
			}
			
		}
		>a:focus {
			@include breakpoint(xs) {
				background: darken($black, 5%);
			}
		}
	}
}

// #mobnav-btn {
//   display: none;
//   color: white;
//   padding: 10px;
//   cursor: pointer;
// }
.mobnav-subarrow {
  display: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
}

@include breakpoint(xs) {
  // #mobnav-btn {
  //   display: block;
  //   background: $mid-grey;
  //   color: $white;
  // }
  .mobnav-subarrow {
    display: block;
    background: $mid-grey;
    color: $white;
    border:none;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
  .navbar-nav {
    width: 100%!important;
    // display: none;
    li {
    	float: none!important;
	    display: block!important;
	    width: 100%!important;
	    a {
	    	float: none!important;
	    }
    }
    ul {
    	position: static!important;
    	display: none!important;
    }
    &.xactive {
    	display: block!important;
    }
  }
  
  .xpopdrop ul {
    display: block!important;
    width: 100%;
  }
}
