.hero {
	min-height: 350px;
	display: table;
	width: 100%;
	@include breakpoint(md) {
		min-height: 500px;
		height: 50vh;
	}
	.headline, .sub-headline {
		color: $white;
	}
}

.hero-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}


